* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: black;
}

.header {
  padding: 30px;
  text-align: center;
  background-color: #00c2ff;
}

.header i {
  font-size: 50px;
  color: white;
}

.container {
  padding: 20px 0;
}

.homeMenuDiv h1,
p {
  padding: 15px 20px;
}

.homeMenuDiv p {
  color: grey;
}

/* Beers list */

.beersDiv {
  border-bottom: 2px solid lightgray;
  padding: 30px 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.beerImg {
  width: 20%;
  height: 100px;
  text-align: center;
}

.beerImg img {
  height: 100%;
}

.beerInfo {
  width: 80%;
}

.beerTag {
  color: grey;
  padding: 10px 0;
}

.beerCountry {
  padding: 0;
}

/* Each beer datail page */

.oneBeer {
  display: flex;
  flex-direction: column;
}

.oneBeerImg {
  height: 500px;
  text-align: center;
}

.oneBeerImg img {
  height: 100%;
}

.oneBeerDetail {
  margin: 50px;
}

.ondBeerName {
  display: flex;
  flex-direction: row;
}

.left {
  width: 80%;
  float: left;
}

.right {
  width: 20%;
  float: right;
  text-align: right;
}

.left h3,
.right h3,
.oneBeerDetail h3 {
  color: grey;
  margin: 30px 0;
}

.oneBeerDetail p {
  padding: 0;
}

/* New beer form */

.form {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
}

label {
  margin-left: 20px;
  font-weight: bold;
}

.input {
  border: 1px solid lightgray;
  border-radius: 30px;
  height: 50px;
  margin: 5px 0 30px 0;
  padding: 0 20px;
}

#description {
  height: 150px;
}

button {
  background-color: #00c2ff;
  border-radius: 30px;
  height: 50px;
  border: 0;
  color: white;
  font-weight: bold;
}
